body {
	background-color: black;
}
svg {
	display: block;
}
.yearParagraph {
	color: white;
	position: absolute;
}
#years-container {
	position: absolute;
	margin-top: -335px;
}
.colonized-planet {
	width: 189px;
}
#svg-icons {
	position: absolute;
	margin-left: 150px;
	margin-top: -355px;
}
#svg-icons img {
	position: absolute;
	width: 100px;
}
#svg-info {
	position: absolute;
}
