//COLORS
$color-1: #f7dd99;
$color-2: #9b2b2a;
$color-3: #e0e7f3;
$color-4: #b5acaf;
$color-5: #3a5478;
$color-6: #0f1a3c;
$color-font: #b1b0b2;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //defines one rem
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background: #000;
  font-family: Roboto, sans-serif;
  color: $color-font;
}

.general-data-point {
  cursor: pointer;
  z-index: 10000;
}
