svg {
  display: block;
}

.yearParagraph {
  position: absolute;
}

.colonized-planet {
  width: 189px;
  padding: 20px;
  margin-left: calc(50% - 100px);
}

#timeline-svg {
  z-index: 5;
}

/* Styling for positioning */

.center-container {
  margin-left: calc(50% - 100px);

  #years-container {
    position: absolute;
    margin-top: -335px;
  }

  #svg-icons {
    position: absolute;
    margin-left: 150px;
    margin-top: -355px;
    animation: float 6s linear infinite alternate;
  }

  img {
    position: absolute;
    width: 35rem;
    top: -11rem;
  }
}

/* Each infobox positioned in an absolute manner */

#svg-info {
  z-index: 0;
  position: relative;
  margin-left: -195px;
  color: white;

  #three-line-svg {
    width: 430px;
    position: absolute;
    pointer-events: none;
    // DISPLAY NONE TEMPORARY
    display: none;
  }

  .infoboxes {
    position: absolute;
    display: none;

    h2 {
      margin-top: 5px;
      margin-left: 10rem;
      width: 40rem;
      text-transform: capitalize;
    }

    & > * {
      position: absolute;
    }

    .infobox {
      width: 300px;
      padding: 10px;

      animation: glow 4s ease-in-out infinite alternate,
        float 6s linear infinite alternate;
    }

    .infobox-1 {
      margin-top: 180px;
      margin-left: -150px;
    }

    .infobox-2 {
      margin-left: 500px;
    }

    .infobox-3 {
      margin-left: 520px;
      margin-top: 180px;
    }
  }
}
