#start {
  position: fixed;
  width: 150px;
  cursor: pointer;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
  z-index: 5;
  g {
    circle {
      stroke: #fff;
      transition: all 0.5s;
    }
    path {
      fill: #fff;
      transition: all 0.5s;
    }
  }
  &:hover {
    &,
    g {
      circle {
        stroke: $color-1;
        fill: transparent;
      }
      path {
        stroke: transparent;
        fill: $color-1;
      }
    }
  }
}

#journey {
  position: absolute;
  width: 70px;
  cursor: pointer;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  stroke: #fff;
  animation: fadeIn 2s;
  &:hover {
    stroke: $color-1;
  }
}

@keyframes move {
  100% {
    motion-offset: 100%;
    offset-distance: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    width: 20px;
    transform: translateX(-50%) translateY(-700px);
  }

  100% {
    opacity: 1;
    width: 70px;
    margin-bottom: 0px;
  }
}

@keyframes slide-bottom {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  100% {
    transform: translateX(-50%) translateY(1000px);
    opacity: 0;
  }
}
