//IMPORTING FONTS
@font-face {
  font-family: "Znikomit";
  src: url("Znikomit.otf") format("opentype");
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,900&display=swap");

//STYLES
.heading-primary {
  font-family: Znikomit, sans-serif;
  color: #fff;
  font-size: 7.5rem;
  text-align: center;
  font-weight: 400;

  text-shadow: 1px 1px 4px #fff, 0 0 1em #fff, 0 0 0.2em #fff;
  animation: glow 0.6s ease-in-out infinite alternate,
    float 6s linear infinite alternate;

  max-width: 70rem;
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 20rem;

  will-change: transform;

  &_small {
    display: block;
    font-size: 5.5rem;
  }
}

.last-heading {
  margin-top: 0;
}

.heading-event {
  font-family: Roboto;
}

.heading-box {
  display: block;
  font-weight: 600;
  font-size: 2.5rem;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 4px #fff, 0 0 1em #fff, 0 0 0.2em #fff;
}

.text-box {
  font-weight: 500;
  font-size: 1.7rem;
  color: #000;
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.4);
  text-shadow: 1px 1px 4px #fff, 0 0 1em #fff, 0 0 0.2em #fff;
}

.song-information {
  font-size: 1.5rem;
  position: fixed;
  bottom: 2;
  right: 2;
}

.dates {
  font-weight: 900;
  font-size: 1.8rem;
}

//ANIMATIONS
@keyframes glow {
  to {
    text-shadow: 1px 1px 6px #fff, 0 0 1em #fff, 0 0 0.2em #fff;
  }
}

@keyframes float {
  to {
    transform: translate(1rem, -2rem);
  }
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}
