@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,900&display=swap");
#start {
  position: fixed;
  width: 150px;
  cursor: pointer;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
  z-index: 5; }
  #start g circle {
    stroke: #fff;
    transition: all 0.5s; }
  #start g path {
    fill: #fff;
    transition: all 0.5s; }
  #start:hover circle,
  #start:hover g circle {
    stroke: #0cbfe9;
    fill: transparent; }
  #start:hover path,
  #start:hover g path {
    stroke: transparent;
    fill: #0cbfe9; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  background: #000;
  font-family: Roboto, sans-serif;
  color: #b1b0b2; }

@font-face {
  font-family: "Znikomit";
  src: url("Znikomit.otf") format("opentype"); }

.heading-primary {
  font-family: Znikomit, sans-serif;
  color: #fff;
  font-size: 7.5rem;
  text-align: center;
  font-weight: 400;
  text-shadow: 1px 1px 4px #fff, 0 0 1em #fff, 0 0 0.2em #fff;
  animation: glow 0.6s ease-in-out infinite alternate, float 6s linear infinite alternate;
  max-width: 70rem;
  margin: auto;
  margin-top: 10rem;
  will-change: transform; }
  .heading-primary_small {
    display: block;
    font-size: 5.5rem; }

.heading-event {
  font-weight: 500;
  font-size: 3rem;
  color: #fff; }

.heading-box {
  display: block;
  font-weight: 600;
  font-size: 2.5rem;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 4px #fff, 0 0 1em #fff, 0 0 0.2em #fff; }

.text-box {
  font-weight: 500;
  font-size: 1.7rem;
  color: #000;
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.4);
  text-shadow: 1px 1px 4px #fff, 0 0 1em #fff, 0 0 0.2em #fff; }

.song-information {
  font-size: 1.5rem;
  position: fixed;
  bottom: 2;
  right: 2; }

.dates {
  font-weight: 900;
  font-size: 1.8rem; }

@keyframes glow {
  to {
    text-shadow: 1px 1px 6px #fff, 0 0 1em #fff, 0 0 0.2em #fff; } }

@keyframes float {
  to {
    transform: translate(1rem, -2rem); } }

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177, 0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177; }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177, 0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177; } }

svg {
  display: block; }

.yearParagraph {
  position: absolute; }

.colonized-planet {
  width: 189px;
  padding: 20px;
  margin-left: calc(50% - 100px); }

#timeline-svg {
  z-index: 5; }

/* Styling for positioning */
.center-container {
  margin-left: calc(50% - 100px); }
  .center-container #years-container {
    position: absolute;
    margin-top: -335px; }
  .center-container #svg-icons {
    position: absolute;
    margin-left: 150px;
    margin-top: -355px;
    animation: float 6s linear infinite alternate; }
  .center-container .svg-icon {
    position: absolute;
    width: 35rem;
    top: -11rem; }

/* Each infobox positioned in an absolute manner */
#svg-info {
  z-index: 0;
  position: relative;
  margin-left: -195px;
  color: white; }
  #svg-info #three-line-svg {
    width: 430px;
    position: absolute;
    pointer-events: none;
    display: none; }
  #svg-info .infoboxes {
    position: absolute;
    display: none; }
    #svg-info .infoboxes h2 {
      margin-top: 5px;
      margin-left: 10rem;
      width: 40rem;
      text-transform: capitalize; }
    #svg-info .infoboxes > * {
      position: absolute; }
    #svg-info .infoboxes .infobox {
      width: 300px;
      padding: 10px;
      animation: glow 4s ease-in-out infinite alternate, float 6s linear infinite alternate; }
    #svg-info .infoboxes .infobox-1 {
      margin-top: 180px;
      margin-left: -150px; }
    #svg-info .infoboxes .infobox-2 {
      margin-left: 500px; }
    #svg-info .infoboxes .infobox-3 {
      margin-left: 520px;
      margin-top: 180px; }

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; }

.heading-event > * {
  display: inline-block;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  perspective: 1000px;
  opacity: 0;
  animation: animateRotation 2.5s forwards;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  text-transform: uppercase; }

@keyframes animateRotation {
  0% {
    transform: rotateY(-70deg) translateZ(-160px);
    text-shadow: 0 0 50px #9b2b2a;
    letter-spacing: 10px; }
  50% {
    text-shadow: 0 0 10px #9b2b2a;
    transform: translateY(-30deg);
    text-shadow: 0 0 5px #9b2b2a;
    letter-spacing: 0px; }
  100% {
    text-shadow: 1px 1px 4px #9b2b2a, 0 0 1em #9b2b2a, 0 0 0.2em #9b2b2a;
    transform: rotateY(0) translateZ(0);
    letter-spacing: 0px;
    opacity: 1; } }

.svg-icon:nth-child(odd) {
  right: 19rem; }

.heading-event {
  text-transform: capitalize; }

.svg-icon {
  transform-style: preserve-3d; }
